---
import type { PokemonCardResponse } from "@interfaces/pokemon-card.response";
import type { Result } from "@interfaces/pokemon-list.response";

interface Props extends Result {
    isBig?: boolean;
    data?: PokemonCardResponse;
}

const { url, isBig = false, data } = Astro.props;

let pokemon = data;
if (pokemon === undefined) {
    const response = await fetch(url);
    pokemon = await response.json() as PokemonCardResponse;
}
---

<a
    href={`/pokemons/${pokemon.name}`}
    class:list={[
        "rounded flex flex-col justify-center items-center p-2",
        {
            border: !isBig,
        },
    ]}
>
    <img
        transition:name={`${pokemon.name}-image`}
        class:list={[
            {
                "w-26 h-26": isBig,
                "w-22 h-22": !isBig,
            },
        ]}
        src={pokemon.sprites.other?.["official-artwork"].front_default}
        alt={pokemon.name}
    />

    <span
        class:list={[
            "capitalize",
            {
                "text-4xl text-blue-300": isBig,
            },
        ]}>#{pokemon.id} {pokemon.name}</span
    >

    {
        isBig && (
            <audio controls class="mt-5">
                <source src={pokemon.cries.latest} type="audio/ogg" />
                Your browser does not support the audio element.
            </audio>
        )
    }
</a>
