---
import type { GetStaticPaths } from "astro";
import MainLayout from "@layouts/MainLayout.astro";
import type { PokemonListResponse } from "@interfaces/pokemon-list.response";
import PokemonCard from "@components/pokemons/PokemonCard.astro";

export const getStaticPaths = (async ({ paginate }) => {
    const response = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
    const { results }: PokemonListResponse = await response.json();

    return paginate(results, { pageSize: 20 });
}) satisfies GetStaticPaths;

const title = "Pokémon Static | List";

const { page } = Astro.props;
---

<MainLayout title={title}>
    <h1 class="text-3xl">Pokémons list</h1>
    <hr />
    <section aria-label="Pokémons list" class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 gap-4 mt-5">
        {page.data.map(({ name, url }) => <PokemonCard name={name} url={url} />)}
    </section>
    <section class="flex mt-10 gap-2 items-center">
        <a class:list={[
            "btn",
            {
                disabled: !page.url.prev,
            },
        ]} href={page.url.prev}>Prev page</a>
        <a
            class:list={[
                "btn",
                {
                    disabled: !page.url.next,
                },
            ]}
            href={page.url.next}>Next page</a
        >

        <div class="flex flex-1"></div>

        <span class="text-xl font-bold">Page {page.currentPage} of {page.lastPage}</span>
    </section>
</MainLayout>

<style>
    .btn {
        @apply bg-blue-500 p-2 text-white rounded-md;
    }

    .disabled {
        @apply bg-gray-600 text-gray-400 pointer-events-none;
    }
</style>
